.vscode
.vscode/*
Data_strutrues/TreeNode/*.o
Data_strutrues/TreeNode/*.a
Data_strutrues/TreeNode/main
.git
Data_strutrues/ListNode/*.o
Data_strutrues/ListNode/*.a
Data_strutrues/ListNode/main
Dynamic_Programming/*.o
Dynamic_Programming/*.a
Dynamic_Programming/main
Sorting_Algorithms/*.o
Sorting_Algorithms/*.a
